apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-app
  namespace: default  # Specify the namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-boot-app
  template:
    metadata:
      labels:
        app: spring-boot-app
    spec:
      containers:
      - name: spring-boot-app
        image: abhishekf5/:replaceImageTag
        ports:
        - containerPort: 8080
