apiVersion: v1
kind: Service
metadata:
  name: spring-boot-app-service
  namespace: default  # Specify the namespace
spec:
  selector:
    app: spring-boot-app
  ports:
    - port: 80
      targetPort: 8080
  type: ClusterIP
